* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}
.productcard_card {
  width: 300px;
}
.productcard_img1 {
  position: relative;
  height: 421px;
  width: 281px;
  margin: 15px;
}
.btn_quickview {
  position: absolute;
  width: 215px;
  left: 15px;
  top: 380px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: white;
  /* border: 2px solid black; */
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

.productcard_card:hover .btn_quickview {
  opacity: 1;
  cursor: pointer;
}

.btn_heart{
  position: absolute;
  width: 45px;
  left: 240px;
  top: 380px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  
  opacity: 0;
  transition: opacity 0.2s;
}
.btn_heart > span > svg{
  fill: black;
  filter: drop-shadow(1px 0.5px 0px black) ;
}
 .btn_heart > span > svg:hover {
  fill:burlywood;
}
.productcard_card:hover .btn_heart{
  opacity: 1;
  cursor: pointer;
}

.productcard_description {
  margin: 15px;
}

.productcard_para {
  color: grey;
}
